pytest~=7.2.0
liwc-text-analysis~=1.0.2
pyyaml~=6.0.0
pandas~=1.5.2
nltk~=3.8.1
tqdm~=4.64.1
transformers~=4.25.1
tensorflow-text~=2.11.0
tensorflow~=2.11
numpy~=1.24.1
scikit-learn~=1.2.0
matplotlib~=3.6.3